/* Styles reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

:root {
    /* Colors */
    --color-primary: #00185E;
    --active-link-color: #1C3271;
    --dropdown-color: #11286A;

    --main-text-color: #334155;
    --secondary-text-color: #64748B;
    --gray: #F1F5F9;
    --red: #B91C1C;

    /* Font sizes */
    font-size: 10px;
    --section-heading-mobile-fz: 2.2rem;
    --section-heading-desktop-fz: 2.6rem;
    --group-heading-mobile-fz: 1.6rem;
    --group-heading-desktop-fz: 1.8rem;
    --button-mobile-fz: 1.4rem;
    --button-desktop-fz: 1.6rem;

    /* Other */
    --box-shadow: 0 3px 5px #0000000b;
    --classic-border: 2px solid rgba(226, 232, 240, 0.7);
}

body {
    background-color: var(--color-primary);
}

.container {
    display: flex;
    width: 100%;
    padding: 1.5rem;
}

nav {
    width: 100%;
    height: 80px;
    /* background-color: green; */
}

/* sidebar styles starts */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.sidebar-container {
    position: fixed;
    width: 300px;
    background-color: var(--color-primary);
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 1.5rem;
}

.logo-container {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.menu-group-name {
    color: #ffffff80;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

.menu-group {
    width: 100%;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    gap: .5rem;
    width: 100%;
}

.menu-item {
    width: 100%;

}


.menu-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu-link.active {
    background-color: var(--active-link-color);
}

.menu-link:hover {
    background-color: var(--active-link-color);
}

.menu-link img {
    max-width: 24px;
}

/* sidebar styles ends */

/* Top bar styles starts */

.top-bar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.add-button {
    font-size: var(--button-mobile-fz);
    background-color: var(--color-primary);
    text-decoration: none;
    color: #fff;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
}

.search-form {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}

.search-input {
    font-size: var(--button-mobile-fz);
    border: none;
    outline: 0;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    color: var(--main-text-color);
    box-shadow: var(--box-shadow);
    border: var(--classic-border);
}

.records-list {
    margin-top: 1rem;
}

/* Top bar styles ends */

/* Dashboard content styles starts */

.section-heading {
    font-size: var(--section-heading-mobile-fz);
    color: var(--main-text-color);
    font-weight: 500;
}

.section-subheading {
    margin-top: 1rem;
    font-size: var(--group-heading-mobile-fz);
    color: var(--secondary-text-color);
    font-weight: 500;
}

.records-wrapper {
    overflow-x: scroll;
}

.records {
    margin-top: 3rem;
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    min-width: 1500px;
}

.records th {
    text-align: left;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-text-color);
}

.records th:last-child {
    text-align: center;
}

.records-list td {
    background-color: #fff;
    padding: 2rem 0;
    padding-right: 2rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--main-text-color);
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: var(--classic-border);
    border-bottom: var(--classic-border);
}

.records-list td:first-child {
    padding-left: 1.5rem;
    border-left: var(--classic-border);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.records-list td:last-child {
    border-right: var(--classic-border);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.records-list tr {
    box-shadow: var(--box-shadow);
    border: var(--classic-border);
    width: 100%;
    position: relative;
    opacity: 0;
    transform: translateX(-100px);
    animation: fadein 1s ease-in-out 0s both;
}


.tag {
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.record-photo,
.avatar-photo {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 100%;
}

.avatar-photo {
    width: 72px;
    height: 72px;
}

.records-list .actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.actions::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 80%;
    background: var(--gray);
}

.actions img {
    width: 24px;
}

.actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.actions-wrapper {
    max-width: 250px;
}

.actions button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: .5rem; */
    font-size: 1.4rem;
    font-weight: 500;
}

.see-record {
    color: var(--color-primary);
}

.delete-record {
    color: var(--red);
    cursor: pointer;
}

.edit-record {
    color: #3C4C5B;
}




/* Dashboard content styles ends */

.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-container {
    background-color: var(--gray);
    width: 100%;
    padding: 3rem;
    border-radius: 2.5rem;
    min-height: calc(100vh - 80px - 3rem);
}

/* Animations starts */

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animations ends */


@media(min-width: 1024px) {
    .sidebar-container {
        position: sticky;
        width: 300px;
        top: 0;
        left: 0;
        height: 100vh;
        /* overflow-y: scroll; */
        padding-top: 0;
    }

    .sidebar {
        padding-left: 0;
    }

    .container {
        padding: 1.5rem;
    }

    .section-heading {
        font-size: var(--section-heading-desktop-fz);
    }

    .section-subheading {
        font-size: var(--group-heading-desktop-fz);
    }

    .add-button,
    .search-input {
        font-size: var(--button-desktop-fz);
    }

}
